.wrapper {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}

body {
    user-select: none;
    color: #fff3cd;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-image: url("svg_bg.svg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    color: #FFFFFF;
    font-size: 25px;
    border-bottom: 2px solid;
    padding-bottom: 15px;
}

.main {
    width: 1250px;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
}



.control {
    flex: 0 1 50%;
    border: 5px solid;
    text-align: center;
    backdrop-filter: blur(4px);
    margin-bottom: 40px;
    box-shadow: 4.7px 3.1px 2.5px rgba(0, 0, 0, 0.093),
    11.8px 7.8px 6.3px rgba(0, 0, 0, 0.133),
    24.1px 15.9px 12.8px rgba(0, 0, 0, 0.167),
    49.6px 32.9px 26.3px rgba(0, 0, 0, 0.207),
    136px 90px 72px rgba(0, 0, 0, 0.3);

}

.naming {
    display: flex;
    align-items: center;
    padding-left: 15px
}

.format {
    display: flex;
    align-items: center;
    justify-content: end;
}

.input_check {
    padding: 15px;
    border-radius: 10px;
    font-size: 19px;
    border: 2px solid;
    width: 125px;
    margin: 10px 10px 15px 15px;
    color: #1400ff;
}

.form_check {
    width: 160px;
    padding: 15px 15px 15px 10px;
    border-radius: 10px;
    margin: 8px 10px 10px;
    border: 2px solid;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.sensor_btn {
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
}

.sensor_btn:hover {
    cursor: pointer;
    background-color: #00b3ff;
    border: transparent;
}

input {
    text-align: center;
}

input:focus {
    background-color: #9571d9;
    color: #f1f1f1;
}

input:hover {
    cursor: pointer;
}

.sensor_result_btn {
    padding: 8px 25px;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
}

.close_btn {
    border-radius: 50%;
    display: block;
    padding: 2px;
    width: 18px;
    height: 18px;
    border: none;
    background: #ffff;
    color: #f09027;
    margin-bottom: 10px;
    margin-left: auto;
    margin-top: 5px;
}

.sensors_head {
    height: fit-content;
    padding: 0 20px;
    border-radius: 6px;
    flex: 0 1 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 5px solid;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, .15);
    -webkit-box-shadow: 5px 5px 5px 0 #000000, inset 4px 4px 15px 0 #000000, 20px 10px 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 5px 0 #000000, inset 4px 4px 15px 0 #000000, 20px 10px 15px 20px rgba(0, 0, 0, 0.3);
}

.sensors {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
    padding-bottom: 15px;
    align-items: center;

}

.sensor_input {
    padding: 15px 0 15px 5px;
    border-radius: 10px;
    width: 150px;
}

.input_sensor {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    justify-content: right;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.nameSens {
    margin-right: auto;
}

.content {
    border-bottom: 1px solid;
}

.errorMsg {
    margin: 0 auto 10px;
    font-size: 15px;
    color: red;
    display: none;
}

@media (max-width: 840px) {
    .main {
        width: 600px;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .control {
        margin-top: 30px;
    }

    .input_check {
        padding: 20px 60px 20px 60px;
    }

    .form {
        align-items: center;
    }

    .sensor_btn {
        width: 50%;
    }

    .sensor_result_btn {
        width: 50%;
    }

    .errorMsg {
        width: -webkit-fill-available;
        font-size: 20px;
    }
}